.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
    flex-direction: column; /* Stack children vertically */
}

.form {
    width: 300px; /* Adjust width as needed */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between form elements */
}

.container button{
    width: 300px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #1f70c1;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover{
    background-color: #1f70c1;
    color: #fff;
}